Module_05/01_241121_FakeTrueMath/__pycache__/fake_math.cpython-313.pyc
Module_05/01_241121_FakeTrueMath/__pycache__/true_math.cpython-313.pyc
Module_05/06_241209_UrTube/__pycache__/urtube.cpython-313.pyc
Module_09/ListComprehension/Снимок экрана 2025-01-03 в 21.35.45.png
Module_09/ListComprehension/Снимок экрана 2025-01-03 в 21.38.48.png
Module_09/ListComprehension/Снимок экрана 2025-01-03 в 21.40.55.png
Module_09/ListComprehension/Снимок экрана 2025-01-03 в 21.45.20.png
Module_09/ListComprehension/Снимок экрана 2025-01-03 в 21.46.30.png
Module_09/ListComprehension/Снимок экрана 2025-01-03 в 21.48.15.png
.DS_Store
Module_09/.DS_Store
.gitignore
